@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
:root {
  --primary-color: #4265d6;
  --secondary-color: #20272e;
  --accent: #444;
}

body {
  background: #f2f2f2;
  margin: 0;
  font-family: "Poppins";
}

a {
  color: #444444;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

.navbar {
  background: #fff;
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: #000;
  font-size: 1.2em;
}

.navbar .logo span {
  color: var(--primary-color);
}

.navbar nav {
  display: none;
}

.navbar nav.menu-btn {
  display: block;
}

.navbar nav {
  position: fixed;
  z-index: 99;
  width: 66%;
  right: 0;
  top: 0;
  background-color: var(--secondary-color);
  height: 100vh;
  padding: 1em;
}

.navbar nav ul.primary-nav {
  margin-top: 5em;
}

.navbar nav li a {
  color: #fff;
  display: block;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: right;
}

.navbar nav li a:hover {
  color: var(--primary-color);
  font-weight: bold;
}

.navbar .mobile-menu-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

.hero {
  text-align: center;
}

.left-col .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--accent);
  letter-spacing: 0.3em;
}

.left-col h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: 0.2em;
}

.left-col .primary-cta {
  background: var(--primary-color);
  color: #fff;
  text-decoration: none;
  padding: 0.6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
}

.left-col .watch-video-cta {
  display: block;
  margin-top: 1em;
}

.left-col .watch-video-cta img {
  margin-right: 0.5em;
}

.hero-img {
  width: 70%;
  margin-top: 3em;
}

section.features-section {
  background: var(--secondary-color);
  color: #fff;
}

ul.features-list {
  margin: 0;
  padding-left: 0.1em;
}

ul.features-list li {
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
}

ul.features-list li:before {
  content: "";
  left: -2em;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../images/bullet.svg");
  background-size: contain;
  margin-right: 0.5em;
}

.features-section img {
  display: none;
}

.testimonials-section {
  color: #fff;
  background-color: var(--primary-color);
}

.testimonials-section li {
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  text-align: center;
  padding: 2em 1em;
  margin: 0 auto 5em;
  width: 80%;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

.testimonials-section li img {
  width: 5em;
  margin-top: -5em;
  height: 5em;
  border: 5px solid rgba(41, 76, 188, 0.25);
  border-radius: 5em;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
}

h2 {
  font-size: 2em;
}

label {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

textarea,
input {
  padding: 0.8em;
  width: 100%;
  margin-bottom: 0.8em;
  border: 1px solid rgba(199, 199, 196, 0.993);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
}

input[type="submit"] {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
  border: none;
  display: inline-block;
  margin-bottom: 5em;
  cursor: pointer;
  padding: 0.8em 2em;
  width: unset;
  border-radius: 5em;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
}

iframe {
  width: 100%;
  height: 300px;
}
/*# sourceMappingURL=main.css.map */